<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.taxcalculator">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_background_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxCalculator">
        <activity
            android:name=".CardETin.EtinRegistrationProcessActivity"
            android:exported="false"
            android:parentActivityName=".CardETin.CardEtinActivity"/>
        <activity
            android:name=".DeveloperInfo.DeveloperInfoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MainActivityDesign" />
        <activity
            android:name=".IncomeTaxInfo.IncomeTaxInfo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FrequentlyAskedQuestion.CardFrequentlyAskedQuestion"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TaxZones.TaxZoneActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CardIncomeTaxReturn.CardIncomeTaxReturn"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CardETin.CardEtinActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Calculator.Result"
            android:exported="false"
            android:parentActivityName=".Calculator.Card_Calculator_Activity" />
        <activity
            android:name=".Calculator.Card_Calculator_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreenDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivityDesign" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>